numpy
pandas
tabulate
python-dotenv

tiktoken
mistralai
anthropic
llamaapi
openai
google.generativeai
transformers
torch
nltk
textblob
sentence-transformers
bert-score
rouge
scikit-learn

google-play-scraper
app-store-scraper
